absl-py
arxiv
bert_score
black
chroma-hnswlib
chromadb
docformatter
evaluate
flake8
ipykernel
ipython
ipywidgets
llama-index-embeddings-openai
llama-index-llms-openai
llama-index-vector-stores-chroma
mypy
nltk
openai
pdf2docx
pip
pre-commit
pydantic
pydocstyle>=6.1.1
pytest
python-dotenv
python=3.11
pytorch
pytorch-cuda=12.1
rouge-score
scikit-learn
scipy
seaborn
sentence-transformers
tiktoken=0.7
git+https://github.com/alvinwan/TexSoup.git@master