absl-py
arxiv
bert_score
black
chroma-hnswlib
chromadb
docformatter
evaluate
flake8
ipykernel
ipython
ipywidgets
llama-index-embeddings-openai
mypy
nltk
openai
pip
pre-commit
pydantic
pydocstyle>=6.1.1
pytest
python-dotenv
python=3.11
pytorch
pytorch-cuda=12.1
rouge-score
scikit-learn
scipy
seaborn
sentence-transformers
tiktoken=0.7
